ProyectoFinal_V2/MainPruebas/Connected Services/ReferenciaGestion/Gestion1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Negocio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Negocio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Jugador">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dorsal" type="xs:int" />
      <xs:element minOccurs="0" name="Edad" type="xs:int" />
      <xs:element minOccurs="0" name="Equipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Jugador" nillable="true" type="tns:Jugador" />
  <xs:complexType name="Equipo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ColorLocal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ColorVisitante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JugadorList" nillable="true" type="tns:ArrayOfJugador" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Equipo" nillable="true" type="tns:Equipo" />
  <xs:complexType name="ArrayOfJugador">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Jugador" nillable="true" type="tns:Jugador" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJugador" nillable="true" type="tns:ArrayOfJugador" />
</xs:schema>