ProyectoFinal_V2/MainPruebas/Connected Services/ReferenciaGestion/Gestion2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49343/Gestion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Negocio" />
  <xs:element name="a単adirJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Negocio" minOccurs="0" name="jugador" nillable="true" type="q1:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="a単adirJugadorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="verListaJugadores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="verListaJugadoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="verListaJugadoresResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bajaJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Negocio" minOccurs="0" name="jugador" nillable="true" type="q2:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bajaJugadorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="a単adirEquipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Negocio" minOccurs="0" name="equipo" nillable="true" type="q3:Equipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="a単adirEquipoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="bajaEquipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Negocio" minOccurs="0" name="equipo" nillable="true" type="q4:Equipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bajaEquipoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="verListaEquipos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="verListaEquiposResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="verListaEquiposResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verJugadoresEquipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreEquipo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verJugadoresEquipoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="verJugadoresEquipoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hacerJsonJugadores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="hacerJsonJugadoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hacerJsonJugadoresResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hacerJsonEquipos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="hacerJsonEquiposResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hacerJsonEquiposResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recuperarDatos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recuperarDatosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recuperarDatosEquipos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recuperarDatosEquiposResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>